<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>787353913464-4tum9mfka329ocau9pno6n12gj6tkql0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.787353913464-4tum9mfka329ocau9pno6n12gj6tkql0</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>787353913464-7ek2kj7scpr61j23e11cd3olj2ralbp0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDFh--al09ggkSo7ufpw0t7yEvaPuVIsxA</string>
	<key>GCM_SENDER_ID</key>
	<string>787353913464</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahomehk.constructioncity</string>
	<key>PROJECT_ID</key>
	<string>constructioncity-ahomehk</string>
	<key>STORAGE_BUCKET</key>
	<string>constructioncity-ahomehk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:787353913464:ios:fd9e715cfb56ae8a</string>
	<key>DATABASE_URL</key>
	<string>https://constructioncity-ahomehk.firebaseio.com</string>
</dict>
</plist>